In [ ]:
print (20 + 30)

In [ ]:
print ("20 + 30")

In [ ]:
print (20 + 30)
print ("20 + 30")

In [ ]:
print (20 + 30) #산술 연술 결과를 출력

In [ ]:
print ("20 + 30")
'''문자열로
출력'''

In [ ]:
a = 20
b = 30

c = a + b

print (c)
print(a,b,c)
print (a,'+',b,'=',c)

In [ ]:
a = 20
b = 30

c = a + b
c = a + 50
print(c)

In [ ]:
100 = a + b

In [ ]:
a + b = c

In [ ]:
a = 10
b = 5

c = a - b
d = a * b
e = a / b

print (a, '-' ,b ,'=' ,c )
print (a, 'x' ,b ,'=' ,d )
print (a, '/' ,b ,'=' ,e )

In [ ]:
a = "Hello."
b = "Good morning."

print (a + b)

In [ ]:
a = "Hello."
b = "Good morning."

print (a - b)

In [ ]:
first_num = 10
num_input = 20
inputDate = 30

In [ ]:
num1 = input()

In [ ]:
num2 = input('Number ==> ')

In [ ]:
result = num1 + num2

print(result)

In [ ]:
num1 = int(input("1st number ==> "))
num2 = int(input("2nd number ==> "))
result = num1 + num2

print (result)

In [ ]:
n1 = 20
n2 = 15

print(n1 + n2)
print(n1 - n2)
print(n1 * n2)
print(n1 / n2)

In [ ]:
n1 = 5
n2 = 3

print(n1 // n2)
print(n1 % n2)
print(n1 ** n2)

In [ ]:
num1 , num2 = 10 , 20
num3 , num4 = 10*20 , 10+20
num5 , num6 = int("10") , 10/5

In [ ]:
num1 = 10
num1 = num1 + 20

print(num1)

In [ ]:
num1 = 10

num1 *= 3

print(num1)

In [ ]:
num1 = 100

num1 //= 3

print(num1)

In [ ]:
num1 = 10

num1 **= 3

print(num1)

In [ ]:
var1 = 100 #정수
var2 = 3.14 #실수
var3 = "Python" #문자열
var4 = True #bool

In [ ]:
type(var1)

In [ ]:
type(var2)

In [ ]:
type(var3)

In [ ]:
type(var4)

In [ ]:
a = (100 > 10)

print(a)

In [ ]:
b = (10 > 20)

print(b)

In [ ]:
var1 = """Hello.
It's
nice day."""

print(var1)

In [ ]:
a = "Hello. \n Happy \t birthday Mr.O\'Neal!\b\\"

print(a)

In [ ]:
a = "Hello." + "Happy" + "birthday!"

print(a)

In [ ]:
a = "Hello~" * 3

print(a)

In [ ]:
a = "Hello 2025"
len(a)

In [ ]:
golfer = "Rory McIlroy"

a = golfer.upper()
b = golfer.lower()

print(a)
print(b)

In [ ]:
Presley = """Love me tender, love me sweet,
never let me go
You have made my life complete,
and I love you so"""

a = Presley.count("love")
b = Presley.count("Love")

print(a)
print(b)

In [ ]:
sent = "오늘 하루는 정말 기분 좋은 하루입니다"

a = sent.find("하루")
b = sent.find("하루",5)
c = sent.find("하루",18)

print(a)
print(b)
print(c)

In [ ]:
ss = "좋은아침 입니다."

print(ss[:])
print(ss[1:3])
print(ss[6:])
print(ss[:4])
print(ss[-3:])
print(ss[:-7])

In [ ]:
num = 99
if num < 100 :
  print ("100보다 작음")

In [ ]:
num = 101
if num < 100 :
  print ("100보다 작음")

In [ ]:
num = int(input("정수를 입력하세요 "))

if num % 2 == 0 :
  print("짝수입니다.")
else :
  print("홀수입니다.")

In [ ]:
score = int(input("점수입력란 "))

if score >= 90 :
  print('A',end='')
else :
  if score >= 80 :
    print('B',end='')
  else :
    if score >= 70 :
      print('C',end='')
    else :
      if score >= 60 :
        print('D',end='')
      else :
        print('F',end='')
print("학점입니다.")

In [ ]:
score = int(input("점수입력란 "))

if score >= 90 :
  print('A',end='')
elif score >= 80 :
  print('B',end='')
elif score >= 70 :
  print('C',end='')
elif score >= 60 :
  print('D',end='')
else :
  print('F',end='')
print("학점입니다.")

In [ ]:
for i in range(0,3,1):
  print("AISW")
print("-----")
for i in range(3):
  print("AISW")

In [ ]:
for i in range(1,11):
  print(i,end='')

In [ ]:
i = 0
sum = 0

for i in range(11):
  sum += i

print("1에서 10까지 자연수의 합 = ",sum)

In [ ]:
# 구구단

i,k = 0,0

for i in range(2,10):
  print(i,"단")
  for k in range(1,10):
    print(i,'X',k,'=',i*k)

In [ ]:
print("<for문>")
for i in range(3):
  print(i+1,": python")
print("\n<while문으로 변경>")
i = 0
while (i<3):
  print(i+1,": python")
  i += 1

In [ ]:
sum = 0
num1,num2 = 0,0

while True :
  num1 = int(input("1st number : "))
  if num1 == 0:
    break
  num2 = int(input("2nd number : "))

  sum = num1 + num2
  print(num1,"+",num2,"=",sum)

print("0을 입력해서 계산을 종료합니다.")

In [ ]:
i , sum = 0,0

for i in range(1,101):
  if i % 4 == 0 :
    continue

  sum += i

print("4의 배수 제외하고 1~100 자연수 합 :",sum)