In [ ]:
#151
a = [3, -20, -3, 44]
for b in a:
  if b<0 :
    print(b)

-20
-3

In [ ]:
#152
a = [3, 100, 23, 44]
for b in a:
  if b%3 == 0:
    print(b)

3

In [ ]:
#153
a = [13, 21, 12, 14, 30, 18]
for b in a:
  if b%3 == 0 and b<20 :
    print(b)

12
18

In [ ]:
#154
a= ["I", "study", "python", "language", "!"]
for b in a:
  if len(b) > 4 :
    print(b)

study
python
language

In [ ]:
#155
a = ["A", "b", "c", "D"]
for b in a:
  if b == b.upper() :
    print(b)
  # 또는
for c in a :
  if c.isupper():
    print(c)

A
D
A
D

In [ ]:
#156
a = ["A", "b", "c", "D"]
for b in a:
  if b.islower():
    print(b)

b
c

In [ ]:
#157
a = ['dog', 'cat', 'parrot']
for b in a:
  c = b[0]
  d = c.upper()
  print(d + b[1:])

Dog
Cat
Parrot

In [ ]:
#158
a = ['hello.py', 'ex01.py', 'intro.hwp']
for b in a:
  c = b.split(".")
  print(c[0])

hello
ex01
intro

In [ ]:
#159
a = ['intra.h', 'intra.c', 'define.h', 'run.py']
for b in a:
  c = b.split(".")
  if c[1]== "h":
    print(b)

intra.h
define.h

In [ ]:
#160
a = ['intra.h', 'intra.c', 'define.h', 'run.py']
for b in a:
  c = b.split(".")
  if c[1] == "h" or c[1] == "c" :
    print(b)

intra.h
intra.c
define.h

In [ ]:
#161
for a in range(0,10) :
  print(a)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#162
for a in range(2002,2051,4):
  print(a)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [ ]:
#163
for a in range(3,31,3) :
  print(a)

3
6
9
12
15
18
21
24
27
30

In [ ]:
#164
for a in range(10):
  print(10-a)

10
9
8
7
6
5
4
3
2
1

In [ ]:
#165
for a in range(0,10):
  print(a/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [ ]:
#166
for a in range(1,10):
  print("3 X" , a ,"=" , 3*a)

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [ ]:
#167
for a in range(1,10,2):
  print("3 X",a,"=",3*a)

3 X 1 = 3
3 X 3 = 9
3 X 5 = 15
3 X 7 = 21
3 X 9 = 27

In [ ]:
#168
a = 0
for b in range(1,11):
  a += b
print("합 : ",a)

합 :  55

In [ ]:
#169
a = 0
for b in range(1,11,2):
  a += b
print("합 :", a)

합 : 25

In [ ]:
#170
a = 1
for b in range(1,11):
  a*= b
print(a)

3628800

In [ ]:
#171
a = [32100, 32150, 32000, 32500]
for b in range(4):
  print(a[b])

32100
32150
32000
32500

In [ ]:
#172
a = [32100, 32150, 32000, 32500]
for b in range(4):
  print(b,a[b])

0 32100
1 32150
2 32000
3 32500

In [ ]:
#173
a = [32100, 32150, 32000, 32500]
for i in range(4):
  print(3-i,a[i])

3 32100
2 32150
1 32000
0 32500

In [ ]:
#174
a = [32100, 32150, 32000, 32500]
for i in range(1,4):
  print(10*i+90,a[i])

100 32150
110 32000
120 32500

In [ ]:
#175
a = ["가", "나", "다", "라"]
for i in range(len(a)-1):
  print(a[i],a[i+1])

가 나
나 다
다 라

In [ ]:
#176
a = ["가", "나", "다", "라", "마"]
for i in range(len(a)-2):
  print(a[i],a[i+1],a[i+2])

가 나 다
나 다 라
다 라 마

In [ ]:
#177
a = ["가", "나", "다", "라"]
for i in range(len(a)-1):
  print(a[3-i],a[2-i])

라 다
다 나
나 가

In [ ]:
#178
a = [100, 200, 400, 800]
for i in range(len(a)-1):
  print(a[i+1]-a[i])

100
200
400

In [ ]:
#179
a = [100, 200, 400, 800, 1000, 1300]
for i in range(len(a)-2):
  print((a[i]+a[i+1]+a[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [ ]:
#180
a = [100, 200, 400, 800, 1000]
b = [150, 300, 430, 880, 1000]
volatility = []
for i in range(len(a)):
  volatility.append(b[i]-a[i])
print(volatility)

[50, 100, 30, 80, 0]

In [ ]:
#181
apart = [ ["101호","102호"],["201호","202호"],["301호","302호"] ]

In [ ]:
#182
stock = [["시가",100,200,300],["종가",80,210,330]]

In [ ]:
#183
stock = {"시가":[100,200,300],"종가":[80,201,330]}

In [ ]:
#184
stock = {"10/10":[80,110,70,90],"10/11":[210,230,190,200]}

In [ ]:
#185
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
  for j in i:
    print(j,"호")

101 호
102 호
201 호
202 호
301 호
302 호

In [ ]:
#186
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
  for j in i:
    print(j,"호")

301 호
302 호
201 호
202 호
101 호
102 호

In [ ]:
#187
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
  for j in i[::-1]:
    print(j,"호")

302 호
301 호
202 호
201 호
102 호
101 호

In [ ]:
#188
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
  for j in i:
    print(j,"호")
    print("-"*6)

101 호
------
102 호
------
201 호
------
202 호
------
301 호
------
302 호
------

In [ ]:
#189
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
  for j in i:
    print(j,"호")
  print("-"*6)

101 호
102 호
------
201 호
202 호
------
301 호
302 호
------

In [ ]:
#190
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
  for j in i:
    print(j,"호")
print("-"*6)

101 호
102 호
201 호
202 호
301 호
302 호
------

In [ ]:
#191
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for i in data:
  for j in i:
    print(j * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [ ]:
#192
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for i in data:
  for j in i:
    print(j * 1.00014)
  print("-"*4)

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [ ]:
#193
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
k=[ ]
for i in data:
  for j in i:
    k.append(j * 1.00014)
print(k)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [ ]:
#194
k = [ ]
for i in data:
  l=[ ]
  for j in i:
    l.append(j*0.00014)
  k.append(l)
print(k)

[[0.27999999999999997, 0.42699999999999994, 0.287, 0.2772], [1.0499999999999998, 0.287, 0.287, 0.2772], [2.163, 2.1069999999999998, 2.1769999999999996, 2.086]]

In [ ]:
#195
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
  print(i[3])

100
190
310

In [ ]:
#196
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
  if i[3]>150:
    print(i[3])

190
310

In [ ]:
#197
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
  if i[3]>=i[0]:
    print(i[3])

100
310

In [ ]:
#198
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
a = [ ]
for i in ohlc[1:]:
  v = i[1] - i[2]
  a.append(v)
print(a)

[40, 30, 10]

In [ ]:
#199
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
  if i[3]>i[0]:
    print(i[1]-i[2])

10

In [ ]:
#200
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
k=0
for i in ohlc[1:]:
  k += (i[3]-i[0])
print(k)

0