In [ ]:
#251
"""클래스 : 객체를 생성하기 위한 설계도 혹은 틀
 객체 : 숫자, 문자열, 자료구조, 함수 등 실제로 있는 것들"""

'클래스 : 객체를 생성하기 위한 설계도 혹은 틀\n 객체 : 숫자, 문자열, 자료구조, 함수 등 실제로 있는 것들'

In [ ]:
#252
class Human :
  pass

In [ ]:
#253
class Human :
  pass

areum = Human()

In [ ]:
#254
class Human :
  def __init__(self) :
    print("Waaah waaah!")

areum = Human()

Waaah waaah!

In [ ]:
#255
class Human :
  def __init__(self,name,age,sex) :
    self.name = name
    self.age = age
    self.sex = sex

areum = Human("Areum",25,"female")

In [ ]:
#256
class Human :
  def __init__(self,name,age,sex) :
    self.name = name
    self.age = age
    self.sex = sex

areum = Human("Areum",25,"female")
print(areum.age)

25

In [ ]:
#257
class Human :
  def __init__(self,name,age,sex) :
    self.name = name
    self.age = age
    self.sex = sex

  def who(self) :
    print("name : {} / age : {} / sex : {}".format(self.name, self.age, self.sex))

areum = Human("Areum",25,"female")
areum.who()

name : Areum / age : 25 / sex : female

In [ ]:
#258
class Human :
  def __init__ (self,name,age,sex) :
    self.name = name
    self.age = age
    self.sex = sex

  def who(self) :
    print("name : {} / age : {} / sex : {}".format(self.name, self.age, self.sex))

  def setInfo(self,name,age,sex) :
    self.name = name
    self.age = age
    self.sex = sex

areum = Human("IDK",0,"IDK")
areum.who()

areum.setInfo("Areum",25,"female")
areum.who()

name : IDK / age : 0 / sex : IDK
name : Areum / age : 25 / sex : female

In [ ]:
#259
class Human :
    def __init__ (self,name,age,sex) :
      self.name = name
      self.age = age
      self.sex = sex

    def __del__(self) :
      print("The only way to do great work is to love what you do.")

    def who(self) :
      print("name : {} / age : {} / sex : {}".format(self.name, self.age, self.sex))

    def setInfo(self,name,age,sex) :
      self.name = name
      self.age = age
      self.sex = sex

areum = Human("Areum",25,"female")
del(areum)

The only way to do great work is to love what you do.

In [ ]:
#260
class OMG:
    def print(self):
        print("Oh my god")

myStock = OMG()
myStock.print()

Oh my god

In [ ]:
#261
class Stock :
  pass

In [ ]:
#262
class Stock :
  def __init__(self,name,code) :
    self.name = name
    self.code = code

Samsung = Stock("Samsung Electronics","005930")

print(Samsung.name)
print(Samsung.code)

SamsungElectronics
005930

In [ ]:
#263
class Stock :
  def __init__(self,name,code) :
    self.name = name
    self.code = code

  def set_name(self,name) :
    self.name = name

a = Stock(None,None)
a.set_name("Samsung Electronics")
print(a.name)

Samsung Electronics

In [ ]:
#264
class Stock :
  def __init__(self,name,code) :
    self.name = name
    self.code = code

  def set_code(self,code) :
    self.code = code

a = Stock(None,None)
a.set_code("005930")
print(a.code)

005930

In [ ]:
#265
class Stock :
  def __init__(self,name,code) :
    self.name = name
    self.code = code

  def set_name(self,name) :
    self.name = name

  def set_code(self,code) :
    self.code = code

  def get_name(self) :
    return self.name

  def get_code(self) :
    return self.code

Samsung = Stock("Samsung Electronics","005930")
print(Samsung.name)
print(Samsung.code)
print(Samsung.get_name())
print(Samsung.get_code())

Samsung Electronics
005930
Samsung Electronics
005930

In [ ]:
#266
class Stock :
  def __init__ (self,name,code,per,pbr,dividend_rate) :
    self.name = name
    self.code = code
    self.per = per
    self.pbr = pbr
    self.rate = dividend_rate

  def set_name(self,name) :
    self.name = name

  def set_code(self,code) :
    self.code = code

  def get_name(self) :
    return self.name

  def get_code(self) :
    return self.code

In [ ]:
#267
Samsung = Stock("Samsung Electronics","005930",15.79,1.33,2.83)
Samsung.rate

2.83

In [ ]:
#268
class Stock :
  def __init__ (self,name,code,per,pbr,dividend) :
    self.name = name
    self.code = code
    self.per = per
    self.pbr = pbr
    self.rate = dividend

  def set_name(self,name) :
    self.name = name

  def set_code(self,code) :
    self.code = code

  def set_per(self,per) :
    self.per = per

  def set_pbr(self,pbr) :
    self.pbr = pbr

  def set_dividend(self,dividend) :
    self.rate = dividend

  def get_name(self) :
    return self.name

  def get_code(self) :
    return self.code

In [ ]:
#269
Samsung = Stock("Samsung Electronics","005930",15.79,1.33,2.83)
Samsung.set_per(12.75)
Samsung.per

12.75

In [ ]:
#270
issue = []

Samsung = Stock("Samsung Electronics", "005930", 15.79, 1.33, 2.83)
Hyundai = Stock("Hyundai Motor", "005380", 8.70, 0.35, 4.27)
LGE = Stock("LGE", "066570", 317.34, 0.69, 1.37)

issue.append(Samsung)
issue.append(Hyundai)
issue.append(LGE)

for i in issue :
  print(i.code, i.per)

005930 15.79
005380 8.7
066570 317.34

In [ ]:
#271
import random as rd

class Account :
  def __init__ (self,name,balance) :
    self.name = name
    self.balance = balance
    self.bank = "SC bank"

    num1 = rd.randint(0,999)
    num2 = rd.randint(0,99)
    num3 = rd.randint(0,999999)

    num1 = str(num1).zfill(3)
    num2 = str(num2).zfill(2)
    num3 = str(num3).zfill(6)
    self.account_number = num1 + '-' + num2 + '-' + num3

Doe = Account("John Doe", 100)
print(Doe.name)
print(Doe.balance)
print(Doe.bank)
print(Doe.account_number)

John Doe
100
SCbank
193-15-539247

In [ ]:
#272
import random as rd

class Account :
  account_count = 0

  def __init__ (self,name,balance) :
    self.name = name
    self.balance = balance
    self.bank = "SC bank"

    num1 = rd.randint(0,999)
    num2 = rd.randint(0,99)
    num3 = rd.randint(0,999999)

    num1 = str(num1).zfill(3)
    num2 = str(num2).zfill(2)
    num3 = str(num3).zfill(6)
    self.account_number = num1 + '-' + num2 + '-' + num3

    Account.account_count += 1

JohnDoe = Account("John Doe", 100)
print(Account.account_count)
JaneDoe = Account("Jane Doe", 200)
print(Account.account_count)

1
2

In [ ]:
#273
import random as rd

class Account :
  account_count = 0

  def __init__ (self,name,balance) :
    self.name = name
    self.balance = balance
    self.bank = "SC bank"

    num1 = rd.randint(0,999)
    num2 = rd.randint(0,99)
    num3 = rd.randint(0,999999)

    num1 = str(num1).zfill(3)
    num2 = str(num2).zfill(2)
    num3 = str(num3).zfill(6)
    self.account_number = num1 + '-' + num2 + '-' + num3

    Account.account_count += 1

  @classmethod
  def get_account_num(cls):
      print(cls.account_count)

JohnDoe = Account("John Doe", 100)
JaneDoe = Account("Jane Doe", 200)
JohnDoe.get_account_num()

2

In [ ]:
#274
import random as rd

class Account :
  account_count = 0

  def __init__ (self,name,balance) :
    self.name = name
    self.balance = balance
    self.bank = "SC bank"

    num1 = rd.randint(0,999)
    num2 = rd.randint(0,99)
    num3 = rd.randint(0,999999)

    num1 = str(num1).zfill(3)
    num2 = str(num2).zfill(2)
    num3 = str(num3).zfill(6)
    self.account_number = num1 + '-' + num2 + '-' + num3

    Account.account_count += 1

  @classmethod
  def get_account_num(cls):
      print(cls.account_count)

  def deposit(self, amount):
      if amount >= 1:
          self.balance += amount

In [ ]:
#275
import random as rd

class Account :
  account_count = 0

  def __init__ (self,name,balance) :
    self.name = name
    self.balance = balance
    self.bank = "SC bank"

    num1 = rd.randint(0,999)
    num2 = rd.randint(0,99)
    num3 = rd.randint(0,999999)

    num1 = str(num1).zfill(3)
    num2 = str(num2).zfill(2)
    num3 = str(num3).zfill(6)
    self.account_number = num1 + '-' + num2 + '-' + num3

    Account.account_count += 1

  @classmethod
  def get_account_num(cls):
      print(cls.account_count)

  def deposit(self, amount):
      if amount >= 1:
          self.balance += amount

  def withdraw(self, amount):
      if self.balance > amount:
          self.balance -= amount

John = Account("John Doe", 100)
John.deposit(100)
John.withdraw(90)
print(John.balance)

110

In [ ]:
#276
import random as rd

class Account :
  account_count = 0

  def __init__ (self,name,balance) :
    self.name = name
    self.balance = balance
    self.bank = "SC bank"

    num1 = rd.randint(0,999)
    num2 = rd.randint(0,99)
    num3 = rd.randint(0,999999)

    num1 = str(num1).zfill(3)
    num2 = str(num2).zfill(2)
    num3 = str(num3).zfill(6)
    self.account_number = num1 + '-' + num2 + '-' + num3

    Account.account_count += 1

  @classmethod
  def get_account_num(cls):
      print(cls.account_count)

  def deposit(self, amount):
      if amount >= 1:
          self.balance += amount

  def withdraw(self, amount):
      if self.balance > amount:
          self.balance -= amount

  def display_info(self):
      print("Bank name :", self.bank)
      print("Name :", self.name)
      print("Account Number :", self.account_number)
      print("Balance :", self.balance)

p = Account("Python", 10000)
p.display_info()

Bank name : SC bank
Name : Python
Account Number : 577-53-410733
Balance : 10,000

In [ ]:
#277
import random as rd

class Account :
  account_count = 0

  def __init__ (self,name,balance) :
    self.deposit_count = 0

    self.name = name
    self.balance = balance
    self.bank = "SC bank"

    num1 = rd.randint(0,999)
    num2 = rd.randint(0,99)
    num3 = rd.randint(0,999999)

    num1 = str(num1).zfill(3)
    num2 = str(num2).zfill(2)
    num3 = str(num3).zfill(6)
    self.account_number = num1 + '-' + num2 + '-' + num3

    Account.account_count += 1

  @classmethod
  def get_account_num(cls):
      print(cls.account_count)

  def deposit(self, amount):
      if amount >= 1:
          self.balance += amount

          self.deposit_count += 1
          if self.deposit_count % 5 == 0:
            self.balance = (self.balance * 1.01)

  def withdraw(self, amount):
      if self.balance > amount:
          self.balance -= amount

  def display_info(self):
      print("Bank name :", self.bank)
      print("Name :", self.name)
      print("Account Number :", self.account_number)
      print("Balance :", self.balance)

p = Account("Python", 10000)
p.deposit(10000)
p.deposit(10000)
p.deposit(10000)
p.deposit(5000)
p.deposit(5000)
print(p.balance)

50500.0

In [ ]:
#278
import random as rd

class Account :
  account_count = 0

  def __init__ (self,name,balance) :
    self.deposit_count = 0

    self.name = name
    self.balance = balance
    self.bank = "SC bank"

    num1 = rd.randint(0,999)
    num2 = rd.randint(0,99)
    num3 = rd.randint(0,999999)

    num1 = str(num1).zfill(3)
    num2 = str(num2).zfill(2)
    num3 = str(num3).zfill(6)
    self.account_number = num1 + '-' + num2 + '-' + num3

    Account.account_count += 1

  @classmethod
  def get_account_num(cls):
      print(cls.account_count)

  def deposit(self, amount):
      if amount >= 1:
          self.balance += amount

          self.deposit_count += 1
          if self.deposit_count % 5 == 0:
            self.balance = (self.balance * 1.01)

  def withdraw(self, amount):
      if self.balance > amount:
          self.balance -= amount

  def display_info(self):
      print("Bank name :", self.bank)
      print("Name :", self.name)
      print("Account Number :", self.account_number)
      print("Balance :", self.balance)

data = []
k = Account("KIM", 10000000)
l = Account("LEE", 10000)
p = Account("PARK", 10000)

data.append(k)
data.append(l)
data.append(p)

print(data)

[<__main__.Account object at 0x7b358dc9d5d0>, <__main__.Account object at 0x7b358d25b2d0>, <__main__.Account object at 0x7b358dddb550>]

In [ ]:
#279
import random


class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.deposit_count = 0

        self.name = name
        self.balance = balance
        self.bank = "SC bank"

        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1 + '-' + num2 + '-' + num3
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:
                self.balance = (self.balance * 1.01)


    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount

    def display_info(self):
        print("Bank Name :", self.bank)
        print("Name :", self.name)
        print("Account Number :", self.account_number)
        print("Balance :", self.balance)

data = []
k = Account("KIM", 10000000)
l = Account("LEE", 10000)
p = Account("PARK", 10000)
data.append(k)
data.append(l)
data.append(p)

for c in data:
    if c.balance >= 1000000:
        c.display_info()

Bank Name : SC bank
Name : KIM
Account Number : 788-69-866910
Balance : 10000000

In [1]:
#280
import random


class Account:
    account_count = 0

    def __init__(self, name, balance):
        self.deposit_count = 0
        self.deposit_log = []
        self.withdraw_log = []

        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1 + '-' + num2 + '-' + num3
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)

    def deposit(self, amount):
        if amount >= 1:
            self.deposit_log.append(amount)
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:
                self.balance = (self.balance * 1.01)


    def withdraw(self, amount):
        if self.balance > amount:
            self.withdraw_log.append(amount)
            self.balance -= amount

    def display_info(self):
        print("Bank Name :", self.bank)
        print("Name :", self.name)
        print("Account Number :", self.account_number)
        print("Balance :", self.balance)

    def withdraw_history(self):
        for amount in self.withdraw_log:
            print(amount)

    def deposit_history(self):
        for amount in self.deposit_log:
            print(amount)


k = Account("Kim", 1000)
k.deposit(100)
k.deposit(200)
k.deposit(300)
k.deposit_history()

k.withdraw(100)
k.withdraw(200)
k.withdraw_history()

100
200
300
100
200

In [2]:
#281
class vehicle :
    def __init__(self, wheel, price) :
        self.wheel = wheel
        self.price = price


car = vehicle(2, 1000)
print(car.wheel)
print(car.price)

2
1000

In [3]:
#282
class vehicle :
    def __init__(self, wheel, price) :
        self.wheel = wheel
        self.price = price

class bike(vehicle) :
  pass

In [4]:
#283
class vehicle :
    def __init__(self, wheel, price) :
        self.wheel = wheel
        self.price = price

class bike(vehicle) :
    def __init__(self, wheel, price) :
        self.wheel = wheel
        self.price = price

bicycle = bike(2, 100)
print(bicycle.price)

100

In [6]:
#284
class vehicle :
    def __init__(self, wheel, price) :
        self.wheel = wheel
        self.price = price


class bike(vehicle) :
    def __init__(self, wheel, price, powertrain) :
        super().__init__(wheel, price)
        self.powertrain = powertrain

bicycle = bike(2, 100, "Shimano")
print(bicycle.powertrain)
print(bicycle.wheel)

Shimano
2

In [8]:
#285
class vehicle :
    def __init__(self, wheel, price) :
        self.wheel = wheel
        self.price = price

class automobile(vehicle) :
    def __init__(self, wheel, price) :
        super().__init__(wheel, price)

    def info(self) :
        print("Number of wheels :", self.wheel)
        print("Price :", self.price)

car = automobile(4, 1000)
car.info()

Number of wheels : 4
Price : 1000

In [9]:
#286
class vehicle :
    def __init__(self, wheel, price) :
        self.wheel = wheel
        self.price = price

    def info(self) :
        print("Number of wheels :", self.wheel)
        print("Price :", self.price)

class automobile(vehicle) :
    def __init__(self, wheel, price) :
        super().__init__(wheel, price)

class bike(vehicle) :
    def __init__(self, wheel, price, powertrain) :
        super().__init__(wheel, price)
        self.powertrain = powertrain

bicycle = bike(2, 100, "Shimano")
bicycle.info()

Number of wheels : 2
Price : 100

In [12]:
#287
class vehicle:
    def __init__(self, wheel, price) :
        self.wheel = wheel
        self.price = price

    def info(self) :
        print("Number of wheels :", self.wheel)
        print("Price :", self.price)

class automobile(vehicle) :
    def __init__(self, wheel, price):
        super().__init__(wheel, price)

class bike(vehicle) :
    def __init__(self, wheel, price, powertrain) :
        super().__init__(wheel, price)
        self.powertrain = powertrain

    def info(self) :
        super().info()
        print("Powertrain :", self.powertrain)

bicycle = bike(2, 100, "Shimano")
bicycle.info()

Number of wheels : 2
Price : 100
Powertrain : Shimano

In [13]:
#288
class parent :
    def call(self) :
        print("parent call")

class child(parent):
    def call(self):
        print("child call")


I = child()
I.call()

child call

In [14]:
#289
class parent :
    def __init__(self) :
        print("parent initialization")

class child(parent) :
    def __init__(self) :
        print("child initialization")

I = child()

child initialization

In [15]:
#290
class parent :
    def __init__(self) :
        print("parent initialization")

class child(parent) :
    def __init__(self) :
        print("child initialization")
        super().__init__()

I = child()

child initialization
parent initialization

In [17]:
#291
f = open("/7120/buy_stocks1.txt", mode="wt", encoding="utf-8")
f.write("005930\n")
f.write("005380\n")
f.write("035420")
f.close()

In [18]:
#292
f = open("/7120/buy_stocks2.txt", mode="wt", encoding="utf-8")
f.write("005930 삼성전자\n")
f.write("005380 현대차\n")
f.write("035420 NAVER\n")
f.close()

In [19]:
#293
import csv

f = open("/7120/buy_stocks.csv", mode="wt", encoding="cp949", newline='')
writer = csv.writer(f)
writer.writerow(["종목명", "종목코드", "PER"])
writer.writerow(["삼성전자", "005930", 15.59])
writer.writerow(["NAVER", "035420", 55.82])
f.close()

In [20]:
#294
f = open("/7120/buy_stocks1.txt", encoding="utf-8")
lines = f.readlines()

codes = []
for line in lines:
    code = line.strip()
    codes.append(code)

print(codes)
f.close()

['005930', '005380', '035420']

In [21]:
#295
f = open("/7120/buy_stocks2.txt", encoding="utf-8")
lines = f.readlines()

data = {}
for line in lines:
    line = line.strip()
    k, v = line.split()
    data[k] = v

print(data)
f.close()

{'005930': '삼성전자', '005380': '현대차', '035420': 'NAVER'}

In [22]:
#296
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)

10.31
0
8.0

In [23]:
#297
per = ["10.31", "", "8.00"]
new_per = []

for i in per:
    try:
        v = float(i)
    except:
        v = 0
    new_per.append(v)

print(new_per)

[10.31, 0, 8.0]

In [25]:
#298
try:
    b = 3 / 0
except ZeroDivisionError:
    print("You can't divide by 0.")

You can't divide by 0.

In [26]:
#299
data = [1, 2, 3]

for i in range(5):
    try:
        print(data[i])
    except IndexError as e:
        print(e)

1
2
3
list index out of range
list index out of range

In [27]:
#300
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)
    else:
        print("clean data")
    finally:
        print("Conversion complete")

10.31
clean data
Conversion complete
0
Conversion complete
8.0
clean data
Conversion complete