In [ ]:
#101
  #bool

In [ ]:
#102
print(3 == 5)

False

In [ ]:
#103
print(3 < 5)

True

In [ ]:
#104
x = 4
print(1 < x < 5)

True

In [ ]:
#105
print ((3 == 3) and (4 != 3))

True

In [ ]:
#106
  #print(3 => 4)
  #"=>"은 없는 연산자

In [ ]:
#107
if 4 < 3:               #False
    print("Hello World")
    #print가 안됨

In [ ]:
#108
if 4 < 3:                #False
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [ ]:
#109
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")      #이건 그냥 조건에 관련없이 print

1
2
4

In [ ]:
#110
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

In [ ]:
#111
a = input("입력하세요 : ")
print(a*2)

입력하세요 : 안녕하세요
안녕하세요안녕하세요

In [ ]:
#112
a=int(input("숫자를 입력하세요 : "))
print(a+10)

숫자를 입력하세요 : 30
40

In [ ]:
#113
a = int(input(" "))
if a%2==1 :
  print("홀수")
else :
  print("짝수")

 3
홀수

In [ ]:
#114
a = int(input("입력값 : "))
if a+20>255 :
  print(255)
else :
  print(a+20)

입력값 : 230
250

In [ ]:
#115
a = int(input("입력값 : "))
if a-20<0 :
  print(0)
elif a-20>255 :
  print(255)
else :
  print(a-20)

입력값 : 300
255

In [ ]:
#116
a = input("현재시간 (12:34 이렇게 입력해주세요.) : ")
if a[-2:]=="00" :
  print("정각입니다.")
else :
  print("정각이 아닙니다.")

현재시간 (12:34 이렇게 입력해주세요.) : 12:34
정각이 아닙니다.

In [ ]:
#117
a = input("좋아하는 과일은? : ")
b = ["사과", "포도", "홍시"]
if a in b :
  print("정답입니다.")
else :
   print("오답입니다.")

좋아하는 과일은? : 포도
정답입니다.

In [ ]:
#118
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
a = input("종목명을 입력하세요 ")
if a in warn_investment_list :
  print("투자 경고 종목입니다.")
else :
  print( "투자 경고 종목이 아닙니다.")

종목명을 입력하세요 LG
투자 경고 종목입니다.

In [ ]:
#119
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
a = input("제가좋아하는계절은 : ")
if a in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

제가좋아하는계절은 : 딸기
오답입니다.

In [ ]:
#120
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
a = input("좋아하는 과일은? ")
if a in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은? 토마토
정답입니다.

In [ ]:
#121
a = input("알파벳 한 개를 입력하세요 : ")
if a.islower() :
  print(a.upper())
else :
  print(a.lower())

알파벳 한 개를 입력하세요 : T
t

In [ ]:
#122
a = int(input("score : "))
if 80<a<=100 :
  print("grade is A")
elif 60<a<=80 :
  print("grade is B")
elif 40<a<=60 :
  print("grade is C")
elif 20<a<=40 :
  print("grade is D")
else :
  print ("grade is E")

score : 62
grade is B

In [ ]:
#123
a = {"달러" : 1167 , "엔" : 10.96 , "유로" : 1268 , "위안" : 171}
b = input("환율을 입력하세요 (예를 들어 '1 유로') : ")
c,d = b.split()
print(float(c)*a[d],"원")

환율을 입력하세요 (예를 들어 '1 유로') : 1000 엔
10960.0 원

In [ ]:
#124
a = int(input("number 1 : "))
b = int(input("number 2 : "))
c = int(input("number 3 : "))

print(max(a,b,c))

number 1 : 1
number 2 : 3
number 3 : 5
5

In [ ]:
#125
a = input("휴대전화 번호 입력: ")
if a[0:3] == "011":
  print("당신은 SKT 사용자입니다.")
elif a[0:3] == "016":
  print("당신은 KT 사용자입니다.")
elif a[0:3] == "019":
  print("당신은 LGU 사용자입니다.")
else :
  print("당신은 알 수 없습니다.")

    #다른 방법
n = input("휴대전화 번호 입력: ")
m = n.split("-")[0]
if m == "011":
  l = "SKT"
elif m == "016":
  l = "KT"
elif m == "019":
  l = "LGU"
else :
  l = "알 수 없는"

print(f"당신은 {l} 사용자입니다.") #근데 이거는 '-' 입력을 해야만 함

휴대전화 번호 입력: 010-1111-2222
당신은 알 수 없습니다.
휴대전화 번호 입력: 011-3333-4444
당신은 SKT 사용자입니다.

In [ ]:
#126
a = input("우편번호를 입력하세요 : ")

if a[0:2] in ["010","011","012"] :
  print("강북구")
elif a[0:2] in ["013","014","015"] :
  print("도봉구")
else :
  print("노원구")

우편번호를 입력하세요 : 01333
노원구

In [ ]:
#127
a = input("주민등록번호 : ")

if a[-7] == "1" or a[-7] == "3" :
  print("남자입니다.")
elif a[-7] == "2" or a[-7] == "4" :
  print("여자입니다.")
else :
  print("다시 입력해주세요.")

주민등록번호 : 010101-3030303
남자입니다.

In [ ]:
#128
a = input("주민등록번호 : ")
b = ["00","01","02","03","04","05","06","07","08"]

if a[-6:-4] in b :
  print("서울입니다.")
else :
  print("서울이 아닙니다.")

주민등록번호 : 0909091234567
서울이 아닙니다.

In [ ]:
#129
a = input("주민등록번호 : ")
b = int(a[0])*2 + int(a[1])*3 + int(a[2])*4 + int(a[3])*5 + \
  int(a[4])*6 + int(a[5])*7 + int(a[-7])*8 + int(a[-6])*9 + \
  int(a[-5])*2 + int(a[-4])*3 + int(a[-3])*4 + int(a[-2])*5
c = 11-(b%11)
d = str(c)
if a[-1] == d[-1]:
  print ("유효한 주민번호입니다.")
else :
  print ("유효하지 않은 주민번호입니다.")

주민등록번호 : 9206261048311
유효한 주민번호입니다.

In [ ]:
#130
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장

In [ ]:
#131
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [ ]:
#132
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [ ]:
#133
print("A")
print("B")
print("C")

A
B
C

In [ ]:
#134
print("출력:", "A")
print("출력:", "B")
print("출력:", "C")

출력: A
출력: B
출력: C

In [ ]:
#135
변수 = "A"
b = 변수.lower()
print("변환:", b)
변수 = "B"
b = 변수.lower()
print("변환:", b)
변수 = "C"
b = 변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c

In [ ]:
#136
v = [10,20,30]
for i in v:
  print(i)

10
20
30

In [ ]:
#137
v = [10,20,30]
for i in v:
  print(i)

In [ ]:
#138
v = [10,20,30]
for i in v:
  print("-------")

-------
-------
-------

In [ ]:
#139
v = ["++++",10,20,30]
for i in v:
  print(i)

++++
10
20
30

In [ ]:
#140
for i in [1,2,3,4]:
  print("-------")

-------
-------
-------
-------

In [ ]:
#141
L = [100,200,300]
for P in L:
  print(P + 10)

110
210
310

In [ ]:
#142
L = ["김밥", "라면", "튀김"]
for M in L:
  print("오늘의 메뉴 : ", M)

오늘의 메뉴 :  김밥
오늘의 메뉴 :  라면
오늘의 메뉴 :  튀김

In [ ]:
#143
L = ["SK하이닉스","삼성전자","LG전자"]
for i in L:
  print(len(i))

6
4
4

In [ ]:
#144
L = ['dog', 'cat', 'parrot']
for i in L:
  print(i,len(i))

dog 3
cat 3
parrot 6

In [ ]:
#145
L = ['dog', 'cat', 'parrot']
for i in L:
  print(i[0])

d
c
p

In [ ]:
#146
L = [1, 2, 3]
for i in L:
  print("3 x", i )

3 x 1
3 x 2
3 x 3

In [ ]:
#147
L = [1, 2, 3]
for i in L:
  print("3 x", i , "=" , 3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [ ]:
#148
L = ["가", "나", "다", "라"]
for i in L[1:]:
  print(i)

나
다
라

In [ ]:
#149
L = ["가", "나", "다", "라"]
for i in L[::2]:
  print(i)

가
다

In [ ]:
#150
L = ["가", "나", "다", "라"]
for i in L[::-1]:
  print(i)

라
다
나
가