In [ ]:
#1
print("hello world")

hello world

In [ ]:
#2
print("Mary's cosmetics")

Mary's cosmetics

In [ ]:
#3
print('신씨가 소리질렀다. "도둑이야."')

신씨가 소리질렀다. "도둑이야."

In [ ]:
#4
print('C:\Windows')

C:\Windows

In [ ]:
#5
print('안녕하세요 \n만나서\t\t반갑습니다')

안녕하세요
만나서		반갑습니다

In [ ]:
#6
print ("오늘은", "일요일")

오늘은 일요일

In [ ]:
#7
print("Naver;Kakao;SK;Samsung")
  #이렇게 해도 되고
print('Naver','Kakao','SK','Samsung', sep=';')

Naver;Kakao;SK;Samsung
Naver;Kakao;SK;Samsung

In [ ]:
#8
print('Naver','Kakao','SK','Samsung', sep='/')

Naver/Kakao/SK/Samsung

In [ ]:
#9
print("first",end=" ");print("second")

first second

In [ ]:
#10
print(5/3)

1.6666666666666667

In [ ]:
#11
삼성전자 = 50000
print(삼성전자*10)

500000 원

In [ ]:
#12
시가총액 = 2800000000
현재가 = 50000
PER = 15.79
print(시가총액,type(시가총액))
print(현재가,type(현재가))
print(PER, type(PER))

2800000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [ ]:
#13
s = "hello"
t = "python"
print(s,'!',t)

hello ! python

In [ ]:
#14
print(2+2*3)

8

In [ ]:
#15
a = "123"
print(type(a))

<class 'str'>

In [ ]:
#16
num_str = "720"
num_int = int(num_str)
print(num_int, type(num_int))

720 <class 'int'>

In [ ]:
#17
num = 100
str_num = str(num)
print(str_num,type(str_num))

100 <class 'str'>

In [ ]:
#18
a = "15.79"
float_a = float(a)
print(float_a,type(float_a))

15.79 <class 'float'>

In [ ]:
#19
year = "2025"
Year = int(year)
print(Year-1,Year-2,Year-3)

2024 2023 2022

In [ ]:
#20
a = 48584
print(a*36)

1749024

In [ ]:
#21
letters = 'python'
print(letters[0],letters[2])

p t

In [ ]:
#22
license_plate = "24가 2210"
print(license_plate  [-4:])

2210

In [ ]:
#23
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [ ]:
#24
string = "PYTHON"
print(string [::-1])

NOHTYP

In [ ]:
#25
phone_number = "010-1111-2222"
print(phone_number [0:3],phone_number[4:8],phone_number[-4::])
  #다른 방법
phone_number_ = phone_number.replace("-"," ")
print(phone_number_)

010 1111 2222
010 1111 2222

In [ ]:
#26
phone_number = "010-1111-2222"
phone_number_ = phone_number.replace("-","")
print(phone_number_)

01011112222

In [ ]:
#27
url = "http://sharebook.kr"
print(url[-2:])
  #다른 방법
url_split = url.split('.')
print(url_split[-1])
print(url_split[1])

kr
kr
kr

In [ ]:
#28
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [ ]:
#29
string = 'abcdfe2a354a32a'
string = string.replace("a","A")
print(string)

Abcdfe2A354A32A

In [ ]:
#30
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [ ]:
#31
a = "3"; b = "4"
print(a+b)

34

In [ ]:
#32
print("Hi" * 3)

HiHiHi

In [ ]:
#33
print("-"*80)

--------------------------------------------------------------------------------

In [ ]:
#34
t1 = "python" ; t2 = "java"
t3 = t1 + ' ' + t2 + ' '
print(t3*4)

python java python java python java python java

In [ ]:
#35
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print("이름 : %s 나이 : %d"%(name1,age1))
print("이름 : %s 나이 : %d"%(name2,age2))

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

In [ ]:
#36
print("이름 : {} 나이 : {}".format(name1,age1))
print("이름 : {} 나이 : {}".format(name2,age2))

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

In [ ]:
#37
print(f"이름 : {name1} 나이 : {age1}")
print(f"이름 : {name2} 나이 : {age2}")

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

In [ ]:
#38
상장주식수 = "5,969,782,550"
a = 상장주식수.replace(',','')
b = int(a)
print(a)

5969782550

In [ ]:
#39
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [ ]:
#40
data = "   삼성전자    "
d = data.replace(' ','')
print(d)
  #다른방법
da = data.strip()
print(da)

삼성전자
삼성전자

In [ ]:
#41
ticker = "btc_krw"
ticker = ticker.upper()
print(ticker1)

BTC_KRW

In [ ]:
#42
ticker = "BTC_KRW"
ticker = ticker.lower()
print(ticker)

btc_krw

In [ ]:
#43
a = "hello"
a = a.capitalize()
print(a)

Hello

In [ ]:
#44
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [ ]:
#45
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

In [ ]:
#46
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [ ]:
#47
a = "hello world"
a.split()

['hello', 'world']

In [ ]:
#48
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [ ]:
#49
date = "2025-03-29"
date.split("-")

['2025', '03', '29']

In [ ]:
#50
data = "039490     "
data = data.rstrip()
print(data)

039490

In [ ]:
#51
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

In [ ]:
#52
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [ ]:
#53
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [ ]:
#54
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [ ]:
#55
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[2]  #스플릿이 사라져서 배트맨이 [2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [ ]:
#56
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [ ]:
#57
nums = [1, 2, 3, 4, 5, 6, 7]
print("max: ", max(nums))
print("min: ", min(nums))

max:  7
min:  1

In [ ]:
#58
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [ ]:
#59
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [ ]:
#60
nums = [1, 2, 3, 4, 5]
print(sum(nums) / len(nums))

3.0

In [ ]:
#61
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [ ]:
#62
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2]) #[0:9:2] 에서 0 9 생략해도 가능

In [ ]:
#63
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [ ]:
#64
nums = [1, 2, 3, 4, 5]
print(nums[::-1]) #[0:9:-1]에서 0 9 생략가능

In [ ]:
#65
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [ ]:
#66
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [ ]:
#67
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [ ]:
#68
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [ ]:
#69
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [ ]:
#70
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)
  #또는
data = [2, 4, 3, 1, 5, 10, 9]
data2 = sorted(data)
print(data2)

In [ ]:
#71
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [ ]:
#72
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")
print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

In [ ]:
#73
  #다시 이해 필요

In [ ]:
#74
  #tuple은 item들의 값을 변경 못하기 때문

In [ ]:
#75
  #tuple은 괄호 없어도 동작

In [ ]:
#76
  #tuple은 변경 불가

In [ ]:
#77
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data = list(interest)
print(data)

['삼성전자', 'LG전자', 'SK Hynix']

In [ ]:
#78
data = tuple(interest)
print(data)

('삼성전자', 'LG전자', 'SK Hynix')

In [ ]:
#79
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [ ]:
#80
data = tuple(range(2, 100, 2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [ ]:
#81
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _= scores
print(valid_score)
  #다시 연습 필요

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [ ]:
#82
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
print(valid_score)
  #다시 연습 필요

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [ ]:
#83
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, b = scores
print(valid_score)
  #다시 연습 필요

In [ ]:
#84
temp = { }

In [ ]:
#85
a = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
print(a)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [ ]:
#86
a = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
a["죠스바"] = 1200
a["월드콘"] = 1500
print(a)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
#87
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print("메로나 가격: ", ice["메로나"])

메로나 가격:  1000

In [ ]:
#88
ice["메로나"] = 1300
print("메로나 가격: ", ice["메로나"])

메로나 가격:  1300

In [ ]:
#89
del ice["메로나"]
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
#90
  #없는 key 누가바

In [ ]:
#91
inventory = {"메로나": [300, 20],
             "비비빅": [400, 3],
             "죠스바": [250, 100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [ ]:
#92
print(inventory["메로나"][0], "원")

300 원

In [ ]:
#93
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory["메로나"][1], "개")

20 개

In [ ]:
#94
inventory = {"메로나": [300, 20],
             "비비빅": [400, 3],
             "죠스바": [250, 100]}
inventory["월드콘"] = [500, 7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [ ]:
#95
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.keys())
print(ice)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [ ]:
#96
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
price = list(icecream.values())
print(price)

[1200, 1200, 1800, 1500, 1000]

In [ ]:
#97
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(sum(icecream.values()))

6700

In [ ]:
#98
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [ ]:
#99
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [ ]:
#100
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}