In [1]:
#201
def print_coin():
  print("비트코인")

In [2]:
#202
print_coin()

비트코인

In [3]:
#203
for i in range(10):
  print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [4]:
#204
def print_coins():
  for i in range(10):
    print("비트코인")

In [5]:
#205
  #함수를 먼저 선언 해야 함

In [6]:
#206
def message():
  print("A")
  print("B")

message()
print("C")
message()

A
B
C
A
B

In [7]:
#207
print("A")

def message() :
    print("B")

print("C")
message()

A
C
B

In [8]:
#208
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

A
C
B
E
D

In [9]:
#209
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

B
A

In [10]:
#210
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

B
C
B
C
B
C
A

In [11]:
#211
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

In [12]:
#212
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

7
15

In [13]:
#213
  #매개변수가 없기 때문

In [14]:
#214
  #문자열과 정수는 연산이 안됨

In [15]:
#215
def print_with_smile(s):
  print(s,":D")

In [16]:
#216
print_with_smile("안녕하세요")

안녕하세요 :D

In [17]:
#217
def print_upper_price(p):
  print(p * 1.3)

In [18]:
#218
def print_sum(a,b):
  print(a+b)

In [19]:
#219
def print_arithmetic_operation(a,b):
  print(a,"+",b,"=",a+b)
  print(a,"-",b,"=",a-b)
  print(a,"x",b,"=",a*b)
  print(a,"/",b,"=",a/b)

print_arithmetic_operation(3, 4)

3 + 4 = 7
3 - 4 = -1
3 x 4 = 12
3 / 4 = 0.75

In [20]:
#220
def print_max(a,b,c):
    if a > b and a > c :
      print(a)
    if b > a and b > c :
      print(b)
    if c > b and c > a :
      print(c)

print_max(9,5,1)

  #또는
max(9,1,5)

9

9

In [21]:
#221
def print_reverse(s):
  print(s[::-1])

print_reverse("Python")
print_reverse("hello")

nohtyP
olleh

In [22]:
#222
def print_score(s):
  print(sum(s)/len(s))

print_score([1,2,3])

2.0

In [23]:
#223
def print_even(e):
  for i in e:
    if i%2 == 0 :
      print(i)

print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [24]:
#224
def print_keys(d):
  for k in d.keys():
    print(k)

print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [25]:
#225
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}
def print_value_by_key(d,k):
    print(d[k])

print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]

In [26]:
#226
def print_5xn(s):
  a = int(len(s) / 5)
  for i in range(a+1):
    print(s[5*i:5*(i+1)])

print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [27]:
#227
def print_mxn(s,n):
  a = int(len(s)/n)
  for i in range(a+1):
    print(s[n*i:n*(i+1)])

print_mxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [28]:
#228
def calc_monthly_salary(s):
  a = int(s / 12)
  print(a)

calc_monthly_salary(12000000)

1000000

In [29]:
#229
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

In [30]:
#230
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

In [ ]:
#231
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result) #오류나는것 맞음

In [ ]:
#232
def make_url(s):
  print("www.",s,".com")

make_url("naver")

In [ ]:
#233
def make_list(s):
  l = []
  for i in s:
    l.append(i)
  return l

make_list("abcd")

In [ ]:
#234
def pickup_even(n):
  l=[]
  for i in n:
    if i%2  == 0:
      l.append(i)
  return l

pickup_even([3, 4, 5, 6, 7, 8])

In [ ]:
#235
def convert_int(s):
  a = int(s.replace(",",""))
  print(a)

convert_int("1,234,567")

In [ ]:
#236
def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

In [ ]:
#237
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

In [ ]:
#238
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

In [ ]:
#239
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

In [ ]:
#240
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

In [ ]:
#241
import datetime
now = datetime.datetime.now()
print(now)

In [ ]:
#242
import datetime

now = datetime.datetime.now()
print(now, type(now))

In [ ]:
#243
import datetime

now = datetime.datetime.now()

for day in range(5, 0, -1):
    delta = datetime.timedelta(days=day)
    date = now - delta
    print(date)

In [ ]:
#244
import datetime

now = datetime.datetime.now()
print(now.strftime("%H:%M:%S"))

In [ ]:
#245
import datetime

day = "2020-05-04"
ret = datetime.datetime.strptime(day, "%Y-%m-%d")
print(ret, type(ret))

In [ ]:
#246
import time
import datetime

while True:
    now = datetime.datetime.now()
    print(now)
    time.sleep(1)

In [ ]:
#247
  #모듈을 임포트하는 4가지 방식 :

In [ ]:
#248
import os
ret = os.getcwd()
print(ret, type(ret))

In [ ]:
#249
import os
os.rename("C:/Users/hyunh/Desktop/before.txt", "C:/Users/hyunh/Desktop/after.txt")

In [ ]:
#250
import numpy
for i in numpy.arange(0, 5, 0.1):
    print(i)